body {
        background: lightslategray;
	text-align: center;
}
p {
	text-align: center;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgb(180, 190, 205);
	line-height: 1.25;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}
h1 {
        text-align: center;
	background-color: black;
	color: lightgray;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding-top: 2px;
	padding-bottom: 2px;
	border-style: solid;
	border-width: 4px;
	border-color: black;
}
.highlightBlack {
        background-color: black;
        color: lightgray;
	padding-left: 10px;
	padding-right: 10px;
}
img#mainImage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
	min-width: 300px;
	clear:left;
}
div#imageMenu {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 35%;
	min-width: 300px;
}
div#imageMenuPopups {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 35%;
	min-width: 300px;
	clear: left;
}
img#snowMan, #flower, #lightBulb {
	float: left;
        width: 15%;
}
img#snowMan, #flower {
        padding-right: 27.5%;
}
div#popupMain, #popupFlower {
        text-align: center;
}
div#popupSnow {
	text-align: left;
}
div#popupLightBulb {
	text-align: right;
}
div#blankSpace1, #blankSpace2 {
	padding-top: 18px;
}